$primary-color: #6344c6;
$color-one: #313131;
$color-one-pro: #414141;
$color-two: #626262;
$color-three: #121112;
$color-four: #6344c6;
$color-white: #fff;
$color-black: #000;
$color-half: #eeebf2;
$footer-color: #626262;
$footer-colot-one: #717171;
