.newsletter {
  margin-top: 128px;
  margin-bottom: 103px;

  .container {
    background-color: $color-four;
    padding: 50px;
    border-radius: 8px;
    .row {
      .col-lg-12 {
        .newsletter-wrapper {
          display: flex !important;
          justify-content: space-between !important;

          @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: flex-start;
          }
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            justify-content: flex-start;
          }
          @include media-breakpoint-up(md) {
            align-items: center !important;
          }

          .newsletter-text {
            // here is text design
            h4 {
              width: 405px;
              font-size: 48px;
              font-weight: 700;
              line-height: auto;
              color: $color-white;
              @include media-breakpoint-down(sm) {
                font-size: 40px;
                padding-right: 100px;
              }
              @include media-breakpoint-down(xs) {
                font-size: 35px;
              }
            }

            p {
              width: 417px;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              color: $color-white;
            }
          }

          .newsletter-email {
            position: relative;
            width: 434px;
            @include media-breakpoint-down(xl) {
              width: 400px;
            }
            @include media-breakpoint-down(lg) {
              width: 410px;
            }
            @include media-breakpoint-down(sm) {
              width: 350px;
            }

            .newsletter-email-wrapper {
              position: relative;
              button {
                position: absolute;
                top: 8px;
                right: 4px;
                color: $color-white;
                background-color: $color-four;
                font-weight: 700;
                padding: 10px 16px;
                border-radius: 8px;
                z-index: 100;
                svg {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              input {
                width: 434px;
                padding: 14px 20px;
                border-radius: 8px;
                margin: auto 0;
                outline: none;
                @include media-breakpoint-down(xl) {
                  width: 400px;
                }
                @include media-breakpoint-down(lg) {
                  width: 410px;
                }
                @include media-breakpoint-down(sm) {
                  width: 350px;
                }
                // @include media-breakpoint-down(xs) {
                //   width: 300px;
                // }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
