.glassmen-team {
  position: relative;
  width: 496px;
  height: 569px;
  @include media-breakpoint-down(md) {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    width: 400px;
    height: auto;
  }

  @include media-breakpoint-down(sm) {
    width: 350px;
    height: auto;
  }

  margin-bottom: 226px;
  img {
    width: 100%;
    height: 100%;
  }

  .teamwork-text {
    position: absolute;
    bottom: -110px;
    right: -80px;
    width: 241px;
    height: 241px;
    background-color: #6344c6;
    border: 15px solid #fff;
    border-top-right-radius: 100px;
    @include media-breakpoint-down(sm) {
      border-radius: 0;
      width: 100%;
      border: none;
      top: 250px;
      left: 0px;
    }
    @include media-breakpoint-down(md) {
      border-radius: 0;
      width: 100%;
      border: none;
      top: 300px;
      left: 0px;
    }
    .center-teamwork {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h4 {
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        color: $color-white;
      }

      h5 {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: 16px;
        color: $color-white;
      }
    }
  }
}

.team-right {
  @include media-breakpoint-down(md) {
    margin-top: 150px;
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 200px;
    text-align: center;
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    color: $color-one;

    span {
      color: $primary-color;
    }
  }

  p {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $footer-color;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    li {
      background: url("../../svg/check_1.svg") no-repeat left center;
      padding: 5px 10px 5px 30px;
      list-style: none;
      margin: 0;
      vertical-align: middle;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      color: $footer-color;
      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
    }
  }

  .number-team {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @include media-breakpoint-down(xs) {
      display: block;
    }
    .team-section {
      text-align: center;
      span {
        font-size: 48px;
        line-height: auto;
        color: $color-one;
        text-align: center;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: $footer-color;
        margin-top: 0;
      }
    }
  }
}
