.partner {
  .container {
    .row {
      .col-lg-8 {
        text-align: center;
        margin: 0 auto;
        h4 {
          font-size: 48px;
          font-weight: 700;
          color: $color-one-pro;
          text-align: center;
          line-height: auto;
          margin-bottom: 40px;
          @include media-breakpoint-down(xs) {
            font-size: 40px;
          }
        }
      }
    }
  }
}

.partner {
  .container {
    .row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .partner-wrapper {
        border: 1px solid transparent;
        padding: 40px 22px;
        text-align: center;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
        h4 {
          font-size: 32px;
          font-weight: 700;
          color: $color-one;
          text-align: center;
          line-height: auto;
          padding: 20px 0;
          padding-top: 0;
          margin-top: 10px;
          @include media-breakpoint-down(xl) {
            font-size: 25px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
