.footer {
  background: $color-half;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(xs) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .footer-content {
      p {
        font-weight: 400;
        line-height: 30px;
        padding-right: 50px;
        margin-top: 43px;
        color: $footer-colot-one;
        @include media-breakpoint-down(xs) {
          padding-right: 0;
        }
      }

      form {
        input {
          padding: 17px !important;
        }

        button {
          background-color: $primary-color;
          color: $color-white;
          padding: 20px 18px;
        }
      }
      .social-link {
        margin-top: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include media-breakpoint-down(xs) {
          justify-content: center;
        }
        gap: 12.5px;
        div {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #e4dede;
          position: relative;
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: grayscale(1);
            transition: all linear 0.3s;
          }
          &:hover {
            svg {
              filter: grayscale(0);
            }
          }
        }
      }
    }
    .footer-content-firstlist {
      h4 {
        font-weight: 700;
      }

      .link-content {
        margin-top: 43px;
        @include media-breakpoint-down(xs) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
        color: $footer-color;
      }
    }
  }

  .copyright {
    background-color: $primary-color;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
      color: $color-white;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
